<div class="container content-wrapper buffer-both">
  <h1 class="title-medium">Править профиль!</h1>
  <div class="column-1-2">
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="form-errors">
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li class="form-error-message"><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-field">
        <%= f.label :username, 'Никнейм', class: 'form-label' %>
        <%= f.text_field :username, class: 'form-text-field' %>
      </div>
      <div class="form-field">
        <%= f.label :name, 'Имя', class: 'form-label' %>
        <%= f.text_field :name, class: 'form-text-field' %>
      </div>
      <div class="form-field">
        <%= f.label :color_header, 'Цвет Вашей шапки', class: 'form-label' %>
        <%= f.color_field :color_header, class: 'form-color-field' %>
        <%= link_to 'Вернуть назад', '#' , class: 'color_header_reset' %>
      </div>
      <div class="form-field">
        <%= f.label :color_header, 'Цвет границы фото', class: 'form-label' %>
        <%= f.color_field :color_border_img, class: 'form-color-field' %>
        <%= link_to 'Вернуть назад', '#', class: 'color_border_reset' %>
      </div>
      <div class="form-field">
        <%= f.label :avatar_url, 'URL вашей аватарки', class: 'form-label' %>
        <%= f.text_field :avatar_url, class: 'form-text-field' %>
      </div>
      <div class="buffer-top-large buffer-bottom">
        Если не хотите менять пароль - оставьте эти поля пустыми!
      </div>
      <div class="form-field">
        <%= f.label :password, 'Пароль', class: 'form-label' %>
        <%= f.password_field :password, class: 'form-text-field' %>
      </div>
      <div class="form-field">
        <%= f.label :password_confirmation, 'Пароль ещё раз', class: 'form-label' %>
        <%= f.password_field :password_confirmation, class: 'form-text-field' %>
      </div>
      <div class="form-action">
        <%= f.submit 'Обновить', class: 'button button-small button-dark' %>
      </div>
    <% end %>
    <div class="delete-user-area">
      <%= link_to 'Удалить пользователя', user_path(@user), class: 'button-red button-small',
                  method: :delete, data: {confirm: 'Точно удалить вопрос?'} %>
    </div>
  </div>
  <div class="column-1-2">
    <div class="user-preview">
      <div class="user-header text-center" style="background-color: <%= @user.color_header %>">
        <h1 class="title-medium">
          <%= @user.name %>
        </h1>
        <div class="user-image-div" style="border-color: <%= @user.color_border_img %>; background-image: url('<%= user_avatar(@user) %>')">
        </div>
        <h2 class="title-small buffer-both">
          @<%= @user.username %>
        </h2>
      </div>
    </div>
  </div>
</div>